* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background:linear-gradient( 45deg, #0a8967 21%, #07f9a2 31%, #0d192b 69%);
}

.cabecalho{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
    
    
.cabecalho-imagem {
    height: 64px;
 
}

.cabecalho-menu {
    display: flex;
    gap: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(250, 247, 244);
    font-weight: 400;
    font-size: 32px x;
    cursor: pointer; 
}

.cabecalho-menu-item {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(251, 248, 248);
    font-weight: 400;
    font-size: 22px ;
    cursor: pointer; 
}

.cabecalho-menu-item:hover {
    color: rgb(153, 92, 214);
  }
  
.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 24px;

}

.conteudo-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 28px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 22px;
}


.conteudo-principal-escrito-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 44px;
    color: rgb(251, 248, 248);
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(248, 248, 241);
}

.conteudo-princiapl-escrito-objtivo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(248, 248, 241);
}

.conteudo-princiapl-escrito-convertendo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(248, 248, 241);
}

.conteudo-principal-escrito-botao  {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 239, 230);
    width: 130px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 4px, 5px, 4px rgb(6, 6, 6);
    cursor: pointer; 
    margin: 4px;
}

.conteudo-principal-escrito-botao:hover{
    background-color: rgb(153, 92, 214);
}
.rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.rodape-imagem {
    height: 94px;
    margin: 1px;
  
}


.imagem-pipoca {
    display: flex;
    justify-items: flex-end;
    align-items: flex-end;
}

.conteudo-principal-imagem {
  
    height: 320px;
}

    
